body{
    margin: 0px;

    font-family: Poppins;

    overflow: hidden;
}
.topBar{
    height: 50px;
    width: 100%;

    background-color: #36a236;
    box-shadow: 0px 2px 12px 2px rgba(0,0,0,0.4);
}

.titleLabel{
    float: left;
    margin: 5px;
    position: relative;
    top: 7px;
    margin-left: 10px;
}

.cadastrarLabel{
    float: right;
    margin: 5px;
    position: relative;
    top: 7px;
    margin-right: 10px;
    cursor: pointer;
}

.hBox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: unset;
}

.vBox{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.clientesListados{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfo{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-right: 5px;
}

.manageButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
}

.usuarioContainer{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;
    padding: 10px;
    border-radius: 10px;
}

.info{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.bEditar{
    background-color: #b7ff61;
    border: 0px;
    border-radius: 15px;
    font-family: 'Poppins';
    padding: 5px 15px;
}
.bEditar:hover{
    background-color: #bfff70;
}
.bEditar:active{
    background-color: #d4ffa0;
}

.bApagar{
    background-color: #fd2626;
    border: 0px;
    border-radius: 15px;
    font-family: 'Poppins';
}
.bApagar{
    background-color: #ff6868;
}
.bApagar{
    background-color: #ff9393;
}