<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Heebo' rel='stylesheet'>
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>L1 POO</title>
</head>
<body>
    <div class="vBox contentContainer">
        <div class="inputContainer">
            <label>Nome</label>
            <input type="text">
        </div>

        <div class="inputContainer">
            <label>Telefone</label>
            <input type="text">
        </div>

        <div class="inputContainer">
            <label>Data de nascimento</label>
            <input type="date">
        </div>

        <div class="inputContainer">
            <label>Gênero</label>
            <select name="ab">
                <option value="Masculino">Masculino</option>
                <option value="Feminino">Feminino</option>
            </select>
        </div>
    </div>
</body>
</html>