<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CDN das depedências externas -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">

    <!-- CSS -->
    <link rel="stylesheet" href="css/EditarCadastro.css">

    <script src="js/Utilitarios/ServerRequester.js"></script>
    <script src="js/Paginas/EditarCadastro.js" defer></script>

</head>
    <body>
        <div class="topBar">
            <label class="titleLabel"><b>World Beauty</b></label>
            <label onclick="window.location.href='/'" class="cadastrarLabel"><b>Sair</b></label>
            <label onclick="window.location.href='homeAdmin'" class="cadastrarLabel">Home</label>
        </div>
        <div id="mostrarConteudo" class="clientesListados">
            <h2 style="margin-bottom: 50px;">Clientes no sistema</h2>
            <div class="usuarioContainer">
                <div class="userInfo">
                    <div class="info">
                        <label>Nome</label>
                        <input type="text" value="Cliente1">
                    </div>
                    <div class="info">
                        <label>Email</label>
                        <input type="email" value="cliente@cli.com">
                    </div>
                </div>
                <div class="userInfo">
                    <div class="info">
                        <label>Gênero</label>
                        <select>
                            <option value="Masc">Masculino</option>
                            <option value="Fem">Feminino</option>
                            <option value="Other">Outros</option>
                        </select>
                    </div>
                    <div class="info">
                        <label>Telefone</label>
                        <input type="text" value="123456789">
                    </div>
                </div>
                <div class="userInfo">
                    <div class="info">
                        <label>Data de nascimento</label>
                        <input type="date" value="01/01/2001">
                    </div>
                </div>
                <div class="manageButtons">
                    <button>Editar</button>
                    <button>Excluir</button>
                </div>
            </div>
        </div>
    </body>
</html>
